.title {
	color: white;
}
.newMovies {
	margin-bottom: 60px;
	margin-left: -20px;
	& .title {
		font-weight: 700;
		margin-left: 25px;
		margin-bottom: 5px;
		font-size: 1.5rem;
		letter-spacing: 1px;
	}
}
