.header {
	margin-bottom: 80px;
	position: relative;
}
.mainImageContainer {
	display: flex;
	align-items: center;
}
.mainImage {
	width: 1175px;
	height: auto;
	margin-left: auto;
	user-select: none;
}
.description {
	position: absolute;
	top: 75px;
	left: 0;
	width: 600px;
}
.secondImageContainer {
	display: flex;
	align-items: center;
}
.secondImage {
	width: 300px;
	height: auto;
	user-select: none;
}
.infoTags {
	width: 100%;
	padding-right: 100px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
	font-size: 1.35rem;
}
.rating {
	padding: 8px 16px 7px 16px;
	background: rgba(78, 76, 77, 0.8);
	border-radius: 8px;
	font-weight: 500;
}
.infoText {
	margin-top: 25px;
	color: white;
	font-size: 1.35rem;
	text-align: left;
	line-height: 7.5mm;
}
.buttons {
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
	width: 500px;
	button {
		font-size: 1.4rem;
		svg {
			margin-top: 5px;
		}
	}
}
